[submodule "Operation_Planning_and_Control-projects"]
   path = Operation_Planning_and_Control-projects
   url = https://github.com/your-github-username/Operation_Planning_and_Control-projects.git

[submodule "supplychain-projects"]
   path = supplychain-projects
   url = https://github.com/your-github-username/supplychain-projects.git

[submodule "financialeconomicanalysis-projects"]
   path = financialeconomicanalysis-projects
   url = https://github.com/your-github-username/financialeconomicanalysis-projects.git

[submodule "sixsigma-projects"]
   path = sixsigma-projects
   url = https://github.com/your-github-username/sixsigma-projects.git
