[submodule "Operation_Planning_and_Control-projects"]
   path = Operation_Planning_and_Control-projects
   url = https://himgauripradeep.github.io/Operation_Planning_and_Control.git

[submodule "supplychain-projects"]
   path = supplychain-projects
   url = https://github.com/himgauripradeep/supplychain-projects.git

[submodule "financialeconomicanalysis-projects"]
   path = financialeconomicanalysis-projects
   url = https://github.com/himgauripradeep/financialeconomicanalysis-projects.git

[submodule "sixsigma-projects"]
   path = sixsigma-projects
   url = https://github.com/himgauripradeep/sixsigma-projects.git
